@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@100;200;300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2",serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish",serif;
    --font-title: "Cinzel Decorative",serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #373B44;
    transition: right .7s;
    background-color: rgba(255,255,255,0.05);
}

.show-menu .hamburguer{
    right: 14rem;
    opacity: 0;
}

.show-menu .fa-bars{
    opacity: 0;
}

.hamburguer-x{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 50;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #373B44;
    transition: right .7s;
    background-color: rgba(255,255,255,0.05);
    opacity: 0;
}

.show-menu .hamburguer-x{
    right: 14rem;
    opacity: 100%;
}

.line{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0.1rem;
    box-shadow: 0.01rem 0rem 3px #fff;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 10s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}

.title-logo p{
    font-size: 2rem;
    position: absolute;
    color:#4286f4;
    top: 5%;
    left: 15%;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    font-family: var(--font-title);
    font-weight: 100; 
    letter-spacing: .05rem;
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    right: 50%;
}

.banner h1{
    color: #ffffff;
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: 100;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 2.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.3s forwards;
}

.banner p{
    font-family: var(--font-secondary);
    text-align: justify;
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: .1rem .1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner button{
    font-family: var(--font-action);
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    min-height: 300px;
    width: 18rem;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: right .7s cubic-bezier(0, 0, 0.25, 1);
    overflow-y:auto;
}

.show-menu .sidebar{
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);   
    letter-spacing: .1rem;
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: var(--font-action);
    color:#373b44;
    font-size: 0.9rem;
    line-height: 3rem;
}

.menu-link:hover{
    font-size: 1rem;
    color: #4286f4;  /* fallback for old browsers */
    transition: color .5s;
    

    /*color: #4286f4;*/
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    
}

.social-media i{
    color: rgba(0,0,0,.7);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.social-media i:hover{
    color:#4286f4;
    transition: color 1s;
}

.section-skills{
    background-color: #f1f1f1;
}

.skills{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 4rem);
    row-gap: 1rem;
}

.skill:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.skill:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 4 / 6;
}

.skill:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 7 / 8;
}

.skill:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.skill:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 4 / 6;
}

.skill:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 7 / 8;
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h1{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.5rem;
    color: #4b4b4b;
    border-bottom: solid 2px #4286f4;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.skill-header{
    display: flex;
    align-items: center;
}

.skill-header i{
    font-size: 2rem;
}

.skill-header h3{
    font-family: var(--font-action);
    font-size: 1rem;
    padding-left: 1rem;
}

.skill-text p{
    font-family: var(--font-secondary);
    margin-top: .5rem;
    font-size: 1rem;
}

.skills-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 3 / 6;
    width: 100%;
}

.skills-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.project{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60rem;
    margin: auto;
}

.card{
    width: 15rem;
    height: 25rem;
    position: relative;
    transition: .7s;
    margin-bottom: 2rem;
}

.card:hover .card-img-wrapper{
    opacity: .8;
    transition: 1s;
}

.card:hover .card-info{
    opacity: 1;
    transition: 1s;
    visibility: visible;
    bottom: 2rem;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .9rem;
    transition: 1s;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .9rem;
    opacity: .4;
}

.card-info{
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.4);
}

.card-info h2{
    font-family: var(--font-title);
    font-size: 1rem;
    color:#f1f1f1;
}

.card-info h3{
    font-family: var(--font-primary);
    font-size: 1rem;
    color:#4286f4;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.6);
    width: 6rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.card-info p{
    font-family: var(--font-action);
    font-size: 1rem;
    color: #f1f1f1;
}

.card-info button{
    margin-top: 1rem;
    padding: .6rem 2rem;
    border-radius: .5rem;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    color: #fafafa;
    text-transform: uppercase;
    font-family: var(--font-action);
    font-size: .7rem;
    letter-spacing: .07rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.section-contact{
    background-color: #f1f1f1;
    width: 100%;
    height: 40rem;
}

.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4); 
}

.contact-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.contact-left{
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.contact-right{
    width: 65%;
    height: 100%;
    background-color: #ddd;
   
}

.section-contact form{
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-label{
    color: #373b44;
    text-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.4);
    margin-left: .3rem;
    top: -.6rem;
    font-family: var(--font-action);
    font-weight: bolder;
    font-size: .5rem;
    position: absolute;
    left: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: all .75s;
}

.field{
    width: 100%;
    height: 1.5rem;
    outline: none;
    font-family: var(--font-primary);
    font-size: .9rem;
    font-weight: lighter;
    color: #373b44;
    line-height: 1rem;
    left: 0;
}

.field-group{
    position: relative;
    margin-bottom: 1.5rem;
    
}

/*.field:focus ~ label{
    opacity: 0;
    
}*/


.field-group textarea{
    resize: none;
    max-width: 25rem;
    min-width: 25rem;
    min-height: 15rem;
    max-height: 15rem;
}

input.field{
    width: 25rem;
}

.contact-right button{
    font-family: var(--font-action);
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*input:not(:placeholder-shown) .field-label{
    background-color: green;
  }
  
  input:placeholder-shown {
    border-color: red;
  }*/

  .section-budget{
    width: 60%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
  }

  .budget-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
    position: relative;
    background-image: url('images/budget.jpg');
    background-size: cover;
  }

  .budget-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

  .section-budget form{
    margin: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3rem;
    color: #f1f1f1;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
  }

  .section-budget label{
    font-family: var(--font-secondary);
    font-weight: bolder;
  }

  .section-budget button{
    grid-column: 2;
    margin-top: 2rem;
    font-family: var(--font-action);
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .section-budget input#qty{
    width: 3rem;
    outline: none;
  }

  .section-budget input#js{
    width: 1rem;
  }

  .group-layout input{
    width: 1rem;
  }