@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;1,200;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2",serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish",serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #373B44;
    transition: right .7s;
    background-color: rgba(255,255,255,0.05);
}

.show-menu .hamburguer{
    right: 14rem;
    opacity: 0;
}

.show-menu .fa-bars{
    opacity: 0;
}

.hamburguer-x{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 50;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #373B44;
    transition: right .7s;
    background-color: rgba(255,255,255,0.05);
    opacity: 0;
}

.show-menu .hamburguer-x{
    right: 14rem;
    opacity: 100%;
}

.line{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0.1rem;
    box-shadow: 0.01rem 0rem 3px #fff;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 10s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    right: 50%;
}

.banner h1{
    color: #ffffff;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 100;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.3s forwards;
}

.banner p{
    font-family: var(--font-secondary);
    text-align: justify;
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: .1rem .1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner button{
    font-family: var(--font-action);
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    min-height: 350px;
    width: 18rem;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: right .7s;
}

.show-menu .sidebar{
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);   
    letter-spacing: .1rem;
    
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: var(--font-action);
    color:#373b44;
    font-size: 0.9rem;
    line-height: 3rem;
}

.menu-link:hover{
    font-size: 1rem;
    color: #4286f4;  /* fallback for old browsers */
    transition: color .5s;
    

    /*color: #4286f4;*/
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    
}

.social-media i{
    color: rgba(0,0,0,.7);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.social-media i:hover{
    color:#4286f4;
    transition: color 1s;
}